.about-content-div {
	padding: 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40rem;
	position: relative;
}

.about-content-text {
	color: #1c283a;
	width: 25rem;
	text-align: justify;
}

.img-profile {
	width: 13rem;
	height: 13rem;
}

.img-profile-border {
	width: 13rem;
	height: 13rem;
	border: 0.1rem solid darkcyan;
	position: absolute;
	z-index: -1;
	right: -2rem;
	bottom: 3rem;
}
