#CTS,
#HRC {
	margin-bottom: 3%;
}

.org-logo-name-div {
	padding: 0rem;
	display: flex;
	align-items: center;
	width: 40rem;
	margin: 0;
	position: relative;
}

.org-name {
	color: #085e7d;
	font-size: 1.6rem;
	margin: 0;
	margin-left: 1rem;
}

.designation-header {
	margin-left: 2rem;
}

.step {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: cream;
}

.v-stepper {
	position: relative;
	margin-left: 2%;
}

.step .circle {
	background-color: #777a7d;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.step .line {
	height: 95%;
	left: 4px;
	position: absolute;
	border-left: 3px solid #777a7d;
}

.exp-details {
	margin-left: 1.5rem;
}
